<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Walking Thought | <%= title %></title>
</head>
