<form action="/user/register" method="post">
	<input type="text" name="email" value="email@email.com">
	<input type="hidden" name="pw" value="1">
	<input type="text" name="nickname" value="nickname">
	<input type="date" name="birthdate" value="">
	<input type="hidden" name="sex" value="F">
	<input type="hidden" name="address" value="abc">

	<input type="submit" value="test">
</form>
