<p>
welcome, <%= nickname %>
<br>
<br>
You success login, this(= cookie) will expired in 30days!!
</p>

<br>
<br>
<br>
<br>
<form action="/user/cookie_test" method="post">
	<input type="submit" value="cookie_test aka individualized page test">
</form>
<br>
<br>

<form action="/user/logout" method="post">
	<input type="submit" value="logout">
</form>
