<form action="" method="post">
	<input type="text" name="email" placeholder="put your email"><br>
	<input type="text" name="password" placeholder="put your password"><br><br>
	<input type="submit" value="login">
</form>
